@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;600&display=swap');

:root {
    --color-main-bg: white;

    --color-gray-1: #e0dfdf;
    --color-gray-3: #939393;
    --color-gray-5: #333;
    
    --color-warn: rgb(224, 10, 10);
    --color-warn-hover: rgb(185, 7, 7);
    --color-link: #007bff;
    --color-hover: #005cbe;
    --color-local: #008763;
    --color-remote: #a500be;
    --color-comp: #9747FF;

    --size-xs: 4px;
    --size-s: 8px;
    --size-m: 12px;
    --size-ml: 24px;
    --size-l: 48px;
    --size-xl: 60px;

    --font-s: 12px;
    --font-m: 14px;
    --font-l: 18px;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-main-bg);
  }

  p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: var(--font-m);
    line-height: var(--font-m);
    color: var(--color-gray-5);
    padding: 0px;
    margin: 0px;
  }

  p.small{
    font-size: var(--font-s);
    line-height: var(--font-s);
  }

  p.large{
    font-size: var(--font-l);
    line-height: var(--font-l);
  }

  p.bold{font-weight: 600;}
  
  a {
    color: var(--color-link);
    text-decoration: none;
  }
  
  /* Your other global styles here */
  